.box{
    width: 456px;
}
.box p {
    border-bottom: 1px solid rgba(255,255,255,0.65);
    padding-bottom: 8px;
    cursor: pointer;
}
.box p a{
    font-family: MicrosoftYaHei;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 3px;
    line-height: 24px;
    text-decoration: none;
}
.box .left{
    margin-top: 25px;
    width: 456px;
    display: grid;
    grid-template-rows:20px 20px 20px 20px;
    grid-template-columns: 152px 152px 152px;
    justify-items:left;
    grid-row-gap: 16px;
}
.box ul li{
    opacity: 0.65;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 3.5px;
    line-height: 20px;
    cursor: pointer;
}
